.fixed-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #161616;
    padding: 25px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.fixed-img { 
    width: 100px;
}
.fixed-text {
    font-family: 'Consolas';
    font-size: 20px;
}
.fixed-button {
    font-family: 'Consolas';
    font-size: 17px;
    padding: 17px 15px;
    background-color: #fff;
    color: #161616;
    border-radius: 7px;
}
.fixed-button:hover {
    cursor: pointer;
    color: #161616;

}