.description-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  .description-text {
    text-align: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    max-width: 500px;
  }
  .description-text span {
    display: block;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
  }
  .description-img {
     max-width: 556px;
  }
  .description-img video {
      width: 100%;
  }
  @media screen and (max-width:992px) {
      .description-text {
          font-size: 34px;
          font-style: normal;
          font-weight: 600;
          max-width: 300px;
        }
    }
    @media screen and (max-width:820px) {
      .description-wrapper {
          flex-direction: column-reverse;
          gap: 30px;
      }
      .description-text {
          font-size: 27px;
          max-width: 100%;
          width: 100%;
      }
      .description-text span {
        font-size: 17px;
      }
    }