@media screen and (min-width: 769px) {
    .koraxAI-page{
        position: relative;
        width: 100vw;
        /* height: 100vh; */
        background-color: #fff;
        overflow: hidden;

        
    }
    .koraxAI-page .container, .container-lg, .container-md, .container-s {
        height: 100% !important;
    }
} 
@media screen and (max-width: 768px) {
    .koraxAI-page{
        margin-top: 80px;
        position: relative;
        height: 100%; 
        background-color: #fff;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom: 30px;


    }
} 


