.subscription .swiper-pagination {
  display: none;
}

.subscription .swiper-wrapper {
  align-items: center;
}
.subscription {
  margin: 40px 0;
}
.subscription-title {
  text-align: center;
  color: #161616;
  margin-bottom: 40px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  padding: 0 20px;
}
.subscription-wrapper .uniq-offer {
  font-family: 'Consolas';
  font-size: 16px;
  margin-top: 0px;
  color: #fff;
}
.subscription-card {
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 30px;
}
.subscription-card p {
  font-family: 'Consolas';
  font-size: 20px;
}
.slash {
  margin-left: -10px;
  font-size: 24px;
}
.old-price {
  font-size: 24px;
  text-decoration: line-through;
}
.subscription-card h2 {
  margin-top: 40px;
  font-size: 44px;
  font-weight: 600;
}
.subscription-card .subscription-button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.subscription-link {
  color: #837fd7;
  font-size: 14px;
  position: relative;
  transition: all 1s solid;
  margin-bottom: 40px;
  display: inline-block;
}
.subscription-link::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 8px;
  background-image: url('../../assets/arrow2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8px;
  transform: translateY(50%);
}
.subscription-link:hover {
  color: #837fd7;
}

.subscription-text {
  color: #161616;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.subscription-offer {
  padding: 10px 14px;
  font-size: 18px;
  color: #d6d6d6;
  background-color: #161616;
  text-align: center;
  width: 350px;
  margin: 0 auto 30px;
  border-radius: 4px;
}
.first-card {
  background-color: #161616;
}
.first-card button {
  background-color: #188d87;
}
.first-card p {
  color: #188d87;
}
.second-card {
  background-color: #161616;
}
.second-card h2 {
  position: relative;
}

.second-card button {
  background-color: #837FD7;
}
.second-card p {
  color: #837FD7;
}
.third-card {
  background-color: #161616;
}
.third-card h2 {
  position: relative;
}

.third-card button {
  background-color: #B29959;
}
.third-card p {
  color: #F2FF61;
}
.subscription-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.subscription-list li {
  font-size: 16px;
  position: relative;
  padding: 0 0 10px 27px;
  border-bottom: 0.5px solid #706f70;
  color: #d6d6d6;
}
.subscription-card .subscription-limited {
  font-size: 14px;
  color: #fff;
  font-family: 'KulimPark';
  margin-bottom: 20px;
}
.subscription-list li::before {
  content: '';
  position: absolute;
  left: -0px;
  transform: translateY(calc(50% + 4px));
  height: 8px;
  width: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/list.svg');
}
.subscription .border-dashed {
  z-index: 2;
}
@media screen and (min-width:560px) and (max-width:820px){
  .subscription-content {
    padding: 10px 30px;
  }
}
@media screen and (min-width: 820px) {
  .subscription-wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
  .subscription-card {
    flex: 1;
  }
}
@media screen and (max-width: 991px) {
  .subscription-title {
    font-size: 27px;
  }
  .subscription-card h2 {
    font-size: 30px;
  }
  .slash {
    margin-left: -5px;
    font-size: 20px;
  }
  .old-price {
    font-size: 20px;
    text-decoration: line-through;
  }
  .subscription-card button {
    font-size: 15px;
  }
  .subscription-list li {
    font-size: 14px;
  }

  .subscription-card {
    padding: 30px 15px;
  }
}
