@media screen and (min-width:992px) and (min-height:780px) {
    .home-page {
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;


    }
}
@media screen and (min-width: 769px) and (max-width:991px) {
    .home-page {
        position: relative;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;

    }
} 
    

.home-page {
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;

}
@media screen and (min-width: 1800px) {
    .home-page .border-dashed {
        display:none;
    }
}
@media screen and (max-width: 768px) {
.home-page .border-dashed {
    display:none;
}
}
