.statistic-title {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.statistic-responsive {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.statistic-img {
  width: 100%;
}
.statistic-text {
  text-align: center;
  font-size: 20px;
  max-width: 700px;
  margin: 40px auto 20px;
}
.modal-statistic .modal-dialog {
  display: flex !important;
  align-items: center;
}
.modal-statistic .modal-fullscreen .modal-content {
  background-color: transparent;
  width: 100% !important;
  height: auto;
}
/* .modal-statistic .modal-fullscreen .modal-body {
  display: flex;
}
.modal-statistic .modal-fullscreen .modal-body img {
  margin: auto;
} */
.modal-statistic .btn-close {
  background-image: url('../../assets/close.svg');
  opacity: 1 !important;


}
.modal-statistic .modal-fullscreen .modal-header {
display: flex;
}

@media screen and (max-width: 820px) {
  .statistic-title {
    font-size: 27px;
  }
  .statistic-text {
    font-size: 17px;
  }
  
}
