@media screen and (min-width: 769px) {
    .processes-page {
        position: relative;
        height: 100vh;
        overflow-y: clip;
        overflow-x: clip;

    }
} 
@media screen and (max-width: 768px) {
    .processes-page {
        padding-bottom: 20px;
        position: relative;
        height: auto;
        overflow-y: clip;
        overflow-x: clip;

    }
} 
