@media screen and (min-width: 769px) {
    .processes-page {
        position: relative;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;

    }
    .processes-page .container {
        height: 100%;
        display: flex;
    }
} 
@media screen and (max-width: 768px) {
    .processes-page {
        padding-bottom: 20px;
        position: relative;
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;

    }
} 

