@media screen and (min-width: 769px) {
  .projects-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    overflow-y: clip;
    overflow-x: clip;

  }
}

@media screen and (max-width: 768px) {
  .projects-page {
    height: 100%;
    position: relative;
    background-color: #161616;
    overflow-y: clip;
    overflow-x: clip;

  }
}
