.koraxAI {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.koraxAI-content {
    width: 50%;
    overflow: hidden;
}
.koraxAI video {
    position: absolute;
    width: 49%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    outline: none !important;
}
.koraxAI-content > * {
    color: #161616;
}
.koraxAI-title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 2rem;
}
.koraxAI-subtitle {
    font-size: 23px;
    margin-bottom: 2rem;
    line-height: 34px;

}
.koraxAI-text {
    font-size: 17px;
    line-height: 24px;

}

    @media screen and (min-width: 1648px) {
        .koraxAI-title {
            font-size: 48px;
        }
        .koraxAI-subtitle {
            font-size: 30px;
            margin-bottom: 2rem;
            line-height:45px;
        }
        .koraxAI-text {
            font-size: 26px;
            line-height: 35px;
        }
    }

@media screen and (max-width: 820px) {
    .koraxAI {
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .koraxAI-content {
        width: 100%;
    }
    .solid-bg {
        margin-bottom: 190px;
    }
    .koraxAI-content video {
        width: 50%;
        height: auto;
        top: -25px;
        bottom: 0;
        left:23%;
    }
    .koraxAI-title {
        font-size: 36px;
    }
    .koraxAI-subtitle {
        font-size: 18px;
    }
    .koraxAI-text {
        font-size: 16px;
    }
 
}

@media screen and (max-width: 500px) {
    .koraxAI-content video {
        width: 100%;
        height: auto;
        top: -25px;
        bottom: 0;
        left: 0;
    }
}
