.koraxAI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
}
.koraxAI-content {
    align-self: center;
    width: 50%;
    overflow: hidden;
}
.koraxAI video {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
}
.koraxAI-content > * {
    color: #161616;
}
.koraxAI-title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 2rem;
}
.koraxAI-subtitle {
    font-size: 23px;
    margin-bottom: 2rem;
    line-height: 34px;

}
.koraxAI-text {
    font-size: 17px;
    line-height: 24px;

}

@media screen and (max-width: 768px) {
    .koraxAI {
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .koraxAI-content {
        width: 100%;
    }
    .solid-bg {
        margin-bottom: 190px;
    }
    .koraxAI-content video {
        width: 100%;
        top: -430px;
        bottom: 0;
        
    }
    .koraxAI-title {
        font-size: 36px;
    }
    .koraxAI-subtitle {
        font-size: 18px;
    }
    .koraxAI-text {
        font-size: 16px;
    }
 
}
