.projects {
  padding-top: 50px;
}

.projects-title {
  font-weight: 300;
  font-size: 65px;
  line-height: 82px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 74px;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.projects-card {
  padding: 30px;
  border-radius: 20px;
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects-card p {
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

.card-1 {
  width: 40%;
  background-image: url('../../assets/project-bg-1.jpg');
}
.card-2 {
  width: 58%;
  background-image: url('../../assets/project-bg-2.jpg');
}
.card-3 {
  width: 55%;
  background-image: url('../../assets/project-bg-3.jpg');
}
.card-4 {
  width: 43%;
  background-image: url('../../assets/project-bg-4.jpg');
}

@media screen and (min-width: 1648px) {
  .projects-card p {
    font-size: 30px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1399px) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .card-1 {
    width: 40%;
  }
  .card-2 {
    width: 55%;
  }
  .card-3 {
    width: 55%;
  }
  .card-4 {
    width: 40%;
  }
}
@media screen and (max-width: 991px) {
  .projects-card {
    padding: 20px;
  }
  .projects-card p {
    font-size: 25px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    padding-bottom: 50px;
  }
  .projects-title {
    font-size: 36px;
    line-height: 34px;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }
  .projects-wrapper {
    gap: 25px;
  }
  .card-1 {
    width: 100%;
  }
  .card-2 {
    width: 100%;
  }
  .card-3 {
    width: 100%;
  }
  .card-4 {
    width: 100%;
  }
}

@media screen and (max-height: 900px) {
  .projects-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-height:940px) and (min-width:800px) {
  .projects-card {
    height: 220px;
}
  .projects-card p {
    font-size: 25px;
}
}